@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #03191e;

    font-family: "Poppins", sans-serif;

    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}

.sides {
    width: 20vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    /*padding-block: 1.2em;*/
    padding-inline: 2em;
    gap: 1em;

    width: min(600px, calc(100vw - 4em));

    /*max-height: 95vh;*/
}

.head-container {
    background-color: #03191e;

    position: sticky;
    top: 0;
    margin-top: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    padding-block: 1.2em;
    padding-inline: 2em;
    gap: 1em;
    height: 40em;
}

.container input {
    background-color: #000;
    color: #E65F5C;
}



.heading {
    padding-left: 20px;

    font-weight: 700;
    font-size: 32px;
    color: #F0EFF4;
}

.eventDiv {
    font-weight: 500;
    font-size: 20px;
    color: #03191e;

    display: flex;
    flex-direction: column;

    background-color: #FCFF6C;
    padding: 1em;
    border-radius: 1em;
}

.bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.date {
    font-size: 16px;
    color: #E65F5C;
}

.button, #btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background: none;
    color: #E65F5C !important;
}

#btn {
    display: flex;
    justify-content: right;
    padding-right: 1em;
    padding-bottom: 0.4em;
}

.button:hover, #btn:hover {
    cursor: pointer;
}